main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Light grey background for the entire page */
  margin: 0; /* Ensure no default margin is applied */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 11rem;
  background: linear-gradient(to right, #ffffff, #a0c4ff); /* Gradient from white to a more intense blue */
  border-radius: 43px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
  margin-bottom: 1px;
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.logo {
  width: 200px;
  height: auto;
}


.title {
  text-align: center;
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 1rem;
}

.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure buttons take up the full width */
}

.login-button {
  flex: 1;
  margin-right: 10px;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

.login-button {
  background-color: #007bff; /* Blue login button */
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.forgot-password {
  color: #007bff;
  text-align: right;
  display: block;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

